html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  background-color: darkblue;
  border: solid;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
}

nav h2 {
  font-size: 2rem;
  padding-left: 2em;
}

.nav-links li {
  padding: 0 3em;
}

form button {
  border: 0.2rem solid rgba(0, 0, 139, 0.75);
  border-radius: 0.5rem;
  padding: 0.4em 1.4em;
  box-shadow: 0.4rem 0.4rem 0.2rem black;
  font-weight: bold;
  font-size: 1.7rem;
}

.nav-links button {
  background-color: darkblue;
  color: white;
  border: none;
  font-size: 1.6rem;
  font-weight: bold;
}

.books li {
  border: solid red;
  max-width: 100%;
  display: flex;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  padding: 0 2em;
}

.nav-links li + li {
  border-left: 2px solid white;
}

.list,
.add-book,
.contact {
  text-decoration: underline red 4px;
}

main {
  margin-top: 5rem;
}

.msg-date {
  display: flex;
  justify-content: space-between;
}

#greet {
  font-weight: bold;
  font-size: 2rem;
}

#date {
  text-align: right;
  font-size: 1.7em;
  font-weight: bold;
}

.modal {
  position: fixed;
  top: 10rem;
  left: 25%;
  z-index: 1;
  width: 50%;
  border: rgba(0, 0, 139, 0.75) solid;
  background-color: orange;
  border-radius: 0.8rem;
  padding-top: 0.5rem;
  font-family: Poppins, sans-serif;
}

.greeting {
  width: 80%;
  margin: 0 auto;
  line-height: 3.5rem;
  font-size: 3rem;
  text-align: center;
}

.greeting span {
  display: block;
}

.user {
  display: block;
  margin: 2rem auto;
  width: 40%;
  padding: 0.8em 1em;
  border-radius: 1rem;
  font-size: 1.8rem;
  outline: none;
}

.user:focus {
  color: blue;
  font-family: cursive;
}

.modal-buttons {
  width: 25%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.close,
.enter {
  padding: 0.5em 1em;
  border-radius: 0.4rem;
  border: 2px solid blue;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

.empty-message {
  border: 2px solid rgba(0, 0, 139, 0.75);
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: bold;
  padding: 0.5em;
  border-radius: 1rem;
  background-color: purple;
  color: white;
  display: none;
}

footer p {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 2em;
}

.empty-message p {
  text-align: center;
}

.add-message {
  text-align: center;
  color: rgba(0, 0, 139, 0.75);
  text-decoration: underline black;
  background-color: purple;
  border: none;
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: bold;
  width: 100%;
}

.books-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8rem;
}

.books {
  list-style-type: none;
  padding: 0;
  width: 80%;
}

.books li:nth-child(odd) {
  background-color: rgba(0, 0, 139, 0.75);
}

.books li:nth-child(even) {
  background-color: rgba(128, 0, 128, 0.75);
}

.remove {
  display: block;
  align-self: center;
  border: 2px solid rgba(128, 0, 128, 0.76);
  position: absolute;
  right: 1rem;
  padding: 0.6em;
  box-shadow: 0.4rem 0.4rem 0.2rem black;
  font-weight: bold;
}

.books li:nth-child(odd) .remove {
  border: 2px solid rgba(128, 0, 128, 0.75);
}

.books li:nth-child(even) .remove {
  border: 2px solid rgba(0, 0, 139, 0.75);
}

.books li p {
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
}

.books li p + p {
  margin-left: 0.5rem;
}

.input-field {
  display: none;
  flex-direction: column;
  align-items: center;
}

form {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  margin-bottom: 2.5rem;
  padding: 0.8em;
  width: 100%;
  border: 0.2rem solid rgba(0, 0, 139, 0.75);
  border-radius: 0.5rem;
  outline: none;
}

.book-added-msg {
  font-size: 2rem;
  font-style: italic;
  color: blue;
  margin-bottom: 1rem;
  display: none;
}

.contact-info {
  display: none;
  font-size: 1.9rem;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8.9em;
}

#reach-out {
  padding-left: 0.3em;
}

footer {
  background-color: darkblue;
  border: 0.2rem solid black;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  color: white;
}
