html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  background-color: skyblue;
}

header {
  background-color: darkblue;
  border: solid;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  color: white;
}

.nav-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-mobile {
  display: none;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-desktop h2 {
  font-size: clamp(2.3vw, 1.8rem, 1.8rem);
  padding-left: 2em;
  margin: 0.5em 0;
}

button {
  cursor: pointer;
}

form button {
  border: 0.2rem solid rgba(0, 0, 139, 0.75);
  border-radius: 0.5rem;
  padding: 0.4em 1.4em;
  box-shadow: 0.4rem 0.4rem 0.2rem black;
  font-weight: bold;
  font-size: max(1.3vw, 1rem);
}

.nav-links button {
  background-color: darkblue;
  color: white;
  border: none;
  font-size: max(1.5vw, 1.3rem);
  font-weight: bold;
  padding: 0 1.5em;
}

footer p {
  font-size: max(1.5vw, 1.5rem);
  font-weight: bold;
  padding-left: 2em;
}

.contact-info p,
.contact-info li {
  font-size: max(1.5vw, 1.25rem);
}

.nav-links li + li {
  border-left: 2px solid white;
}

.list-focus,
.add-book-focus,
.contact-focus {
  text-decoration: underline red 4px;
}

main {
  margin-top: max(4.2vw, 3.8rem);
  width: max(100%, 35rem);
  margin-inline: auto;
}

.msg-date {
  display: flex;
  justify-content: space-between;
}

#greet {
  font-weight: bold;
  font-size: max(1.7vw, 1.4rem);
  text-align: left;
}

.date {
  text-align: right;
  font-size: max(1.5vw, 1.3rem);
  font-weight: bold;
}

.date.mobile-date {
  display: none;
}

.modal {
  position: fixed;
  top: 10rem;
  left: 25%;
  z-index: 1;
  width: 50%;
  border: rgba(0, 0, 139, 0.75) solid;
  background-color: orange;
  border-radius: 0.8rem;
  padding-top: 0.5rem;
  font-family: Poppins, sans-serif;
}

.greeting {
  width: 80%;
  margin: 0 auto;
  line-height: 3.5rem;
  font-size: 3rem;
  text-align: center;
}

.greeting span {
  display: block;
}

.user {
  display: block;
  margin: 2rem auto;
  width: 40%;
  padding: 0.8em 1em;
  border-radius: 1rem;
  font-size: 1.8rem;
  outline: none;
}

.user:focus {
  color: blue;
  font-family: cursive;
}

.modal-buttons {
  width: 25%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.close,
.enter {
  padding: 0.5em 1em;
  border-radius: 0.4rem;
  border: 2px solid blue;
}

h1 {
  text-align: center;
  font-size: max(3.2vw, 1.8rem);
  margin-top: 0;
  text-decoration: underline;
}

.empty-message {
  border: 2px solid rgba(0, 0, 139, 0.75);
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: bold;
  padding: max(1.5vw, 0.5rem);
  border-radius: 1rem;
  background-color: purple;
  color: white;
  display: none;
  width: max(15vw, 10rem);
}

.empty-message p {
  text-align: center;
  font-size: max(1.5vw, 1rem);
  margin: 0.4em;
}

.add-message {
  text-align: center;
  color: rgba(25, 25, 27, 0.75);
  text-decoration: underline black;
  background-color: purple;
  border: none;
  font-size: max(1.3vw, 1rem);
  font-family: sans-serif;
  font-weight: bold;
  width: 100%;
}

.books-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8rem;
  font-size: max(2vw, 2rem);
}

.books {
  list-style-type: none;
  padding: 0;
  width: max(100%, 35rem);
  margin-top: 1.8rem;
}

.book {
  border: solid rgb(201, 41, 41);
  width: max(70%, 30rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 1em;
  margin-inline: auto;
}

.book-info {
  font-size: max(1.3vw, 1.2rem);
  color: white;
}

.books li:nth-child(odd) {
  background-color: rgba(0, 0, 139, 0.75);
}

.books li:nth-child(even) {
  background-color: rgba(128, 0, 128, 0.75);
}

.remove {
  display: block;
  align-self: center;
  border: 2px solid rgba(128, 0, 128, 0.76);
  font-size: max(1.2vw, 1rem);
  padding: 0.5em;
  box-shadow: 0.4rem 0.4rem 0.2rem black;
  font-weight: bold;
}

.books li:nth-child(odd) .remove {
  border: 2px solid rgba(128, 0, 128, 0.75);
}

.books li:nth-child(even) .remove {
  border: 2px solid rgba(0, 0, 139, 0.75);
}

.books li p + p {
  margin-left: 0.5rem;
}

.input-field {
  display: none;
  flex-direction: column;
  align-items: center;
}

form {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  margin-bottom: 2.5rem;
  padding: max(0.8vw, 0.5rem);
  width: max(30vw, 20rem);
  border: 0.2rem solid rgba(0, 0, 139, 0.75);
  border-radius: 0.5rem;
  outline: none;
  font-size: max(1.4vw, 1.5rem);
}

.book-added-msg {
  font-size: max(1.4vw, 1.2rem);
  font-style: italic;
  color: blue;
  margin-bottom: 1rem;
  display: none;
}

.contact-info {
  display: none;
  font-size: 1.9rem;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8.9em;
}

#reach-out {
  padding-left: 0.3em;
}

footer {
  background-color: darkblue;
  border: 0.2rem solid black;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  color: white;
}

.fa-bars {
  font-size: 1.5rem;
}

.fa-plus-square {
  display: none;
}

.fa-times {
  font-size: 2.2rem;
}

@media only screen and (max-width: 480px) {
  .date.mobile-date {
    display: block;
  }

  .date.desktop-date {
    display: none;
  }

  .fa-plus-square {
    color: blue;
    position: fixed;
    bottom: 7rem;
    right: 1rem;
    font-size: 3rem;
    display: block;
  }

  .fa-book {
    color: blue;
    position: fixed;
    bottom: 7rem;
    right: 1rem;
    font-size: 3rem;
    display: none;
  }

  .nav-desktop {
    display: none;
  }

  .nav-mobile {
    display: block;
  }

  .nav-links.mobile {
    position: relative;
    display: none;
    justify-content: flex-start;
    align-items: center;
    padding: 0.6rem 0;
  }

  .nav-links.mobile li:last-child {
    border: none;
    position: absolute;
    right: 1.2rem;
  }

  .header-home {
    display: flex;
    justify-content: space-between;
    padding: 0 1.2rem;
    align-items: center;
  }

  .nav-mobile h2 {
    font-size: 1.7rem;
  }

  #greet {
    width: 10rem;
  }
}
